/* FOTOGRAFIA/VIDEO DE GRUPO FOTOGRAFIA/VIDEO DE GRUPO FOTOGRAFIA/VIDEO DE GRUPO FOTOGRAFIA/VIDEO DE GRUPO */
#buttonVideo{
    height: 50px;
    padding: 15px 0;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#mainPhoto #imgcontainer img{
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}

#mainPhoto,
#imgcontainer{
    position: relative;
    margin: 0;
}

#imgcontainer{
    display: flex;
    justify-content: center;
    animation: videoplayerAnim 300ms ease-in-out;
}

@keyframes videoplayerAnim {
    0%{opacity: 0;top:-100vh}
    50%{opacity: 0.75;top:-25vh}
    100%{opacity: 1;top:0}
}

#videoplay{
    position: relative;
    display: none;
    margin: 0 0 50px 0;
    height: calc(1080 / 1920 * 100vw);
    max-height: calc(90vh - 100px);
    align-items: center;
    justify-content: center;
    animation: videoplayerAnim 300ms ease-in-out;
}

#videoBackground{
    width: 100%;
    position: absolute;
    height: calc(1080 / 1920 * 100vw);
    max-height: calc(90vh - 100px);
    background: url(/Imagens/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:brightness(50%);
    box-shadow: 0px 5px 20px #000000;
}

.closeVideo{
    border: 2px solid #F9B632;
    background: #2c2c2c;
    border-radius: 5px;
    color: white;
    margin: 0;
    padding: 10px 40px;
    display: flex;
    z-index: 1;
    position: absolute;
    transition: 200ms;
}

#openVideoBtn, #closeVideoBtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#closeVideoBtn:hover{
    box-shadow: 0px 0px 15px #f9b632, inset -90px 0 0 0 #f9b632, inset 90px 0 0 0 #f9b632;
}

#openVideoBtn:hover{
    box-shadow: 0px 0px 15px #f9b632, inset -108px 0 0 0 #f9b632, inset 108px 0 0 0 #f9b632;
}

.closeVideo:hover{
    color: black;
}

.closeVideo > *{
    margin: 0;
}
/* FOTOGRAFIA DE GRUPO FOTOGRAFIA DE GRUPO FOTOGRAFIA DE GRUPO FOTOGRAFIA DE GRUPO */